
<form action="" method="post">
    <label for="id">Id: </label>
    <input type="text" name="id" id="id"> <br>
    <label for="nome">Nome:</label>
    <input type="text" nome="nome" id="nome"> <br>

    <label for="nome">Sobrenome:</label>
    <input type="text" nome="sobrenome" id="sobrenome"> <br>

    <label for="idade">idade:</label>
    <input type="number" nome="idade" id="idade"> <br>

    <label for="nome">Genero:</label>
    <input type="text" nome="genero" id="genero"> <br>

    <input type="submit" value="Salvar">
</form>
