<form action="" method="post">
  <p>Formúlario de Cadastro</p>
  <div class="form-group">
    <label for="id"></label>
    <input type="text" class="form-control" id="id" placeholder="id">
  </div>
  <div class="form-group">
    <label for="nome"></label>
    <input type="text" class="form-control" id="nome" placeholder="nome">


    <label for="sobrenome"></label>
    <input type="text" class="form-control" id="sobrenome" placeholder="sobrenome">


    <label for="idade"></label>
    <input type="text" class="form-control" id="idade" placeholder="idade">

    <label for="genero"></label>
    <input type="text" class="form-control" id="genero" placeholder="genero">

    <input type="submit" value="Salvar">

  </div>
</form>

